/*mobile-first */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Karla', sans-serif;
  
}

.container{
  padding: 2em;
  background-color: hsl(204, 43%, 93%);
  margin-top: 2vh;
}

.div-one{
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  background-color: white;

}

h1{
  color: hsl(179, 62%, 43%);
}

.div-one h3{
  color: hsl(71, 73%, 54%);
  margin-top: 1em;
}

.div-one p{
  color: hsl(218, 22%, 67%);
  margin-top: 1em;
  line-height: 2;
  font-size: 13px;
  
}

.div-two{
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.div-two h2{
  margin-top: .7em;
  font-size: 28px;
  line-height: 2;
}

.div-two span{
  font-size: 16px;
  font-weight: lighter;
  color:#9ee4e6;
}

.div-two p{
  color: #9ee4e6;
  line-height: 2;
}

.subscription{
  background-color: #2bb3b0;
  padding: 1.5em;
}

.why-us{
  background-color: #4abebc;
  padding: 1em;
  padding-bottom: 3em;

}

ul{
  margin-top: 2vh;
  list-style-type: none;
  color: #9ee4e6;
}

button{
  background-color: hsl(71, 73%, 54%);
  padding: 1em;
  color: white;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 3vh;
  box-shadow: 1px 2px #3b9f71;
}

footer{
  /*background-color: #4abebc;*/
  /*background-color: white;*/
  padding: .6em;
  border: none;
}

/*tablet*/
@media (min-width: 768px) { 
.div-one{
  padding: 4em;
  text-align: center;
}

h1{
  font-size: 2.5em;
}

.div-one p{
  font-size: 1.5em;
  line-height: 1.25;
}

.subscription{
  text-align: center;
  padding: 4em;
}

.why-us{
  text-align: center;
  padding: 4em;
}
.div-two h2{
  margin-top: 1vh;
  font-size: 3em;
}
h3{
  font-size: 1.75em;
}

.div-two p{
  font-size: 1.5em;
}

button{
  width: 80%;
  padding: 1.5em;
  font-size: 1.5em;
}

.div-two li{
  font-size: 1.5em;
}



}

/*desktop*/
@media (min-width: 992px) { 
  .container{
    margin-top: 0;
    padding: 4em;
  }
 .div-one {
    padding: 8em;
    text-align: left;
  } 

  h1{
    font-size: 4em;
  }

  .div-one h3{
    font-size: 3em;
    
  }

  .div-one p{
    font-size: 2.6em;
    line-height: 1.5;
  }
  
  .div-two{
    display: flex;
    flex-direction: row;
    
  }

  .div-two h3{
    font-size: 2.5em;
    
    text-align: left;
  }

  .div-two h2{
    
    font-size: 4em;
  }

  .div-two p{
    font-size: 2em;
    
  }

  .div-two span{
    font-size: .5em;
  }

  .div-two li{
    font-size: 2em;
  }
  
  .subscription{
    width: 50%;
    text-align: left;
    padding: 3em;
  }

  button{
    width: 70%;
    font-size: 2em;
    padding: 1.1em;
  }
  
  .why-us{
    width: 50%;
    text-align: left;
  }

  footer{
    
    padding: 1em;
  }
}